@font-face {
    font-family: 'Dosis';
    src: url('Dosis-VariableFont_wght.ttf') format('truetype');
}

html, body {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Dosis', Fallback, sans-serif;
}
label {
    display: block;
}
input, select {
    width: 90%;
    height: max-content;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 15% auto;
    grid-template-rows: auto 30px;
}
.side {
    border-right: 1px solid #eaeaea;
    display: grid;
    grid-template-rows: auto 10%;
}
.settings {
    display: grid;
}
.option {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
}
.option > label, .dual_option > label {
    align-self: end;
}
.option > input, .dual_option > input {
    align-self: start;
}
.option, .dual_option {
    padding: 5px;
    background-color: #fafafa;
}
.buttons, .dual_option {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}
.buttons {
    padding: 10px;
}
.button {
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border-radius: 5px;
    border: 1px solid #566963;
    display: grid;
    align-content: center;
    cursor: pointer;
    color: #ffffff;
    padding: 11px 23px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
    text-align: center;
    font-size: 1.3rem;
}
.button > span {
    font-size: 0.8rem;
}
.button:hover {
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color: #6c7c7c;
}
.button:active {
    position: relative;
    top: 1px;
}
.contents {
    padding: 10px;
    background-color: #212121;
}
.footer {
    grid-column: 1 / span 2;
    padding-left: 6px;
}
